# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.tab.c
*.tab.h
*.yy.c
*.log
/Makefile
/configure.scan
/config.status
/config.h
/eg
/html
/libeg.a
/parse_test
/pkttools/pkt-analyze
/pkttools/pkt-change
/pkttools/pkt-correct
/pkttools/pkt-filter
/pkttools/pkt-pcap2txt
/pkttools/pkt-pingrep
/pkttools/pkt-recv
/pkttools/pkt-send
/pkttools/pkt-txt2pcap
/pkttools/pkt-txt2txt
